body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-color: #bed2e7;
}

h1 {
	color: #2d4a5a;	
}

a {
	text-decoration: none;
}

header {
	padding: 7px;
	font-family: 'Roboto', sans-serif;
	background-color: #eeeeee;
	border-bottom: 2px solid #696969;
}

.adv-input-search-container {
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	width: 230px;
	height: 30px;
	display: flex;
	padding-bottom: 0;
}	

.adv-input-container {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	padding: 10px;
	width: 230px;
}	

#adv-search-text{
	width: 230px;
}

#adv-search-button {
	height: 32px;
	width: 220px;
	border: none;
	border-radius: 17px;
	text-align: center;
	background-color: #85bfc6;
	margin: 5px;
	margin-top: 17px;
}

#adv-search-button:hover{
	cursor: pointer;
}

.content {
	display: flex;
}

.sidebar-container{
	min-width: 250px;
	max-width: 250px;
	margin: 10px 10px auto 10px;
	padding: 20px;
	border-radius: 4px;
	border: 2px solid #696969;
	background-color: #efefef;
	height: 300px;
}
.site-title {
	font-size: 80px;
	font-weight: 100;
	text-align: center;
	padding-top: 175px;
}

.search-input-container {
	width: 400px;
	height: 30px;
    margin: 0 auto;
}

.search-input {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	width: 100%;
	height: 100%;
	border: 1px solid #dadada;
	border-radius: 3px;
}

.action-input-container {
	width: 100px;
	height: 40px;
    margin: 0 auto;
	padding: 60px;
	align-items: center;
}

.action-button {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding: 5px;
	color: white;
	background-color: #2d4a5a;
	border: 1px solid #ababab;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
}

.result-header {
	height: auto;
	margin: 10px 0px 0px 0px;
	padding: 5px;
	border: 2px solid #696969;
	border-radius: 3px;
	background-color: #eeeeee;
}

.result-contents-header {
	font-family: 'Roboto', sans-serif;
	display: flex;
}
.result-info-container-header {
	border: 2px solid #696969;
	width: 280px;
	text-align: center;
	padding: 3px;
	margin: 2px;
}
.result-category-container-header {
	border: 2px solid #696969;
	width: 60px;
	text-align: center;
	padding: 3px;
	margin: 2px;
}
.result {
	height: auto;
	padding: 5px;
	border: 1px solid #dadada;
	border-radius: 3px;
	background-color: #eeeeee;
}
.result-contents {
	font-family: 'Roboto', sans-serif;
	display: flex;
}
.result-info-container {
	border: 2px solid #dfd8d8;
	border-radius: 6px;
	width: 280px;
	text-align: center;
	padding: 3px;
	margin: 2px;
}
.result-category-container {
	border: 2px solid #dfd8d8;
	border-radius: 6px;
	width: 60px;
	text-align: center;
	padding: 3px;
	margin: 2px;
}
.result-output-container {
	font-size: 14px;
}
